<!DOCTYPE html>
<html>
  <head>
    <title>css</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Playing with css and <span class="h1">JS</span> </h1>
    <div class="controls">
      <label for="spacing">Spacing:</label>
      <input type="range" name="spacing" min="10" max="200" value="10" data-sizing="px">
      
      <label for="spacing">Blur:</label>
      <input type="range" name="blur" min="0" max="25" value="10" data-sizing="px">
      
      <label for="spacing">Base color:</label>
      <input type="color" name="base" value="#ffc600">

      <img src="http://unsplash.it/800/500?imaage=899" alt="fotito">
    </div>
  </body>
  <script src="/javascripts/variables.js" ></script>
</html>
